.background {
  background-color: #222;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.capitalize {
  text-transform: capitalize;
}

#playArea {
  display: flex;
  flex-direction: column;
}

#travelCtrl {
  text-align: center;
}

@media all and (min-width: 800px) {
  #playArea {
    flex-direction: row;
  }
  #playArea div {
    margin: 0 2rem;
  }
}